
:root {
    --green: #34A853;
    --yellow: #FFCC00;
    --red: #F36464;
    --light-purple: #EADDFF;
    --border-line: #E0E0E0;
    --focused-yellow: #FFCC00;
    --light-yellow: #FFEFC0;
    --dark-purple: #4b387a;
    --light-blue: #D3E3FF;
    --bright-blue: #299dfd;
    --smoke-white: #dbdbdb;
    --btn-disabled: #a8a8a8;
    --btn-disabled-light: #d5d5d5;
    --btn-disabled-text: #7a7a7a;
    --turquoise: rgb(85, 140, 121);
    --dark-grey: #343434;
    --grey-bg-containers: #F4F4F4;
    --items-display-bg: #f7f7f7;
    
}

body {
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

button, input, select {
    background-color: transparent;
      border: none;
      margin: 0;
      padding: 0;
      text-align: inherit;
      font: inherit;
      border-radius: 0;
      appearance: none;
      cursor: pointer;
      outline: none;
    }

button.inputButton:disabled {
    background-color:var(--btn-disabled-light);
    color:var(--btn-disabled-text);
    cursor:unset;
}

button.active-yellow {
    background-color: var(--focused-yellow);
}

input {
    cursor:text;
    margin-left:15px;
    width: 250px;
}

input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: green;
    border: 2px solid var(--dark-grey);
    border-radius: 2px;
}
input[type="checkbox"]:hover {
    cursor:pointer;
}
input[type="checkbox"]:checked {
background-color: var(--btn-disabled);
background-image: url('./svg/check.svg');
background-position: center;
border: none;
}

label {
    min-width:120px;
}

input:read-only {
    cursor: unset;
}

input[type='date'] {
    width:100%;
    display:flex;
    position:relative;
}

input[type='date']::after {
    content: 'Pick Date';
    position: absolute;
    right: 15px;
    top: 8px;
    color:var(--dark-purple);
    pointer-events: none;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background-color: var(--light-purple);
    padding:10px 90px 10px 13px;
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    cursor:pointer;
    margin-left:352px;
}

.inputField {
    text-align: left;
}

/* #transparent-backdrop {
    width:450px;
    height:100vh;
    background-color: white;
    opacity: 0.4;
    position:fixed;
    inset:0;
    z-index: 1000;
} */

@font-face {
    font-family:'handWritten_Bold';
    src: url('./fonts/Lemonade Bold.woff2') format('woff2'),
	url('./fonts/Lemonade Bold.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-007A;
}

@font-face {
    font-family:'handWritten_Reg';
    src: url('./fonts/Lemonade Regular.woff2') format('woff2'),
	url('./fonts/Lemonade Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-007A;
}

@font-face {
    font-family:'handWritten_Thin';
    src: url('./fonts/Lemonade Thin.woff2') format('woff2'),
	url('./fonts/Lemonade Thin.woff') format('woff');
    font-weight: 400;
    font-style: normal;
    font-stretch: normal;
    unicode-range: U+0020-007A;
}


/* .eventsDisabled {
    pointer-events: 0;
    opacity: 0.5;
} */

.push-right {
    margin-left:auto;
}

/* main elements */

#appContainer {
    display:flex;
}

#leftContainer {
    padding:30px;
    width:400px;
    height:100vh;
    border-right:1px solid var(--border-line);
    box-sizing: border-box;
}

#rightContainer {
    width:100%;
}

/* logo section */

#logoContainer {
    display:flex;
    height:50px;
    gap:20px;
}

#logo {
    background-color: var(--turquoise);

    height:auto;
    border-radius: 10px;
    padding:5px 15px;
}

#logoText {
    font-family: 'handWritten_Reg';
    font-size: 30px;
    color:var(--dark-purple);
    margin:0;
    align-self:center;
}

.left-tabs-style {
    width: 100%;
    height:40px;
    margin-bottom: 7px;
    
}

.left-tabs-style span {
    display:flex;
    align-items: center;
    font-size: 17px;
    padding:0;
    margin:0;
    height:35px;
}

/* top-left section */

#topLeftContainer {
    margin-top:50px;
}

.left-side-icons {
    width:25px;
    height:25px;
    padding-left:5px;
    padding-right: 10px;
}

/* bottom section */

#projectsTitleContainer {
    margin-top: 80px;
    display:flex;
    align-items:center;
    color:var(--dark-grey);
}

#addProjectIcon {
    margin-left: auto;
}

#projectIcon {
    width:30px;
    height:30px;
}

.del-tab {
    background-color: var(--light-purple);
}

/* project tabs section */

#projectsContainer{
    margin-bottom: 20px;
}


button:disabled {
    color:var(--btn-disabled-text);
    
}

/* add-task.js */

.tabButton {
    min-width: max-content;
}

.task-tabs{
    width: 90%;
    height:40px;
    background-color: var(--light-yellow);
    margin-left:10%;
}

.task-tabs span {
    display:flex;
    align-items: center;
    font-size: 17px;
    height:35px;
}

#addNewTaskPage {
    width:inherit;
    display:flex;
    justify-content: center;
}

#newTaskDetailsDiv {
    width:900px;
    height:550px;
    background-color: var(--grey-bg-containers);
    margin-top: 60px;
    padding:50px 90px;
}

#taskDetailsTitle {
    margin-bottom:70px;
}

.taskDetailsContainers {
    display:flex;
    border-top:1px solid var(--border-line);
    width:100%;
    height:40px;
    padding:10px;
    align-items: center;
}


.inputButton {
    background-color: var(--light-purple);
    width:120px;
    height:35px;
    color:var(--dark-purple);
    display:flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    gap:8px;
    margin-left:auto;
}

.folderTabs {
    margin-left:auto;
    display:flex;
    gap:15px;
}

.setProjectFolderBtn {
    background-color: var(--light-purple);
    width:220px;
    height:35px;
    color:var(--dark-purple);
    border-radius: 8px;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:8px;
}

.mainActionBtnsContainer {
    border-top:1px solid var(--border-line);
    padding-top:30px;
    display:flex;
    gap:35px;
}

.mainActionBtns {
    font-size: 18px;
    padding: 10px 22px;
    border-radius: 10px;
}

.addActionBtn {
    background-color: var(--bright-blue);
    color:white;
}

.cancelActionBtn {
    /* background-color: #DBDBDB;
    color: #424242; */
    background-color: var(--light-purple);
    color:var(--dark-purple);
}
#chooseFolderDropDown {
    position:relative;
}

#chooseFolderContainer {
    position:absolute;
    top:0;
    left:-50%;
    width:500px;
    height:200px;
    background-color: var(--bright-blue);
}

select#choosingFolder {
    background: url('./svg/folderSearch.svg') no-repeat;
    background-position: 20px 50%;
    background-color: var(--light-purple);
    width:250px;
    height:35px;
    color:var(--dark-purple);
    border-radius: 8px;
    padding-left:20px;
    text-align: center;
}


/* New folder Container */

#newFolderContainer {
    width:max-content;
    height:200px;
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color: var(--dark-purple);
    z-index: 1;
    border-radius: 15px;
    padding:50px 80px;
    color:var(--smoke-white);
    font-size: 20px;
    input {
        background-color:var(--light-purple);
        padding:10px;
        border-radius: 8px;
        font-size: 17px;
        display: block;
        margin-top: 10px;
        margin-bottom: 60px;
    }
}

.projectActionBtnsContainer {
    border-top:1px solid var(--border-line);
    width:max-content;
    padding-top:20px;
    display:flex;
    justify-content: center;
    gap:35px;
    margin-left: 15px;
}

.addProjectActionBtn {
    background-color: var(--focused-yellow);
    color:var(--dark-grey);
}

/* new-project-tabs.js */
.project-tabs {
    background-color:var(--light-blue);
}

/* Task Name Page  */

#openTaskContainer {
    margin-left: 30px;
    margin-top: 50px;
}

#taskTitleContainer {
    display:flex;
    gap: 30px;
    align-items: center;
}

#taskPageProjectFolder {
    margin-top:5px;
    margin-bottom:50px;
}

.taskTitle {
    font-size: 38px;
    max-width: 600px;
    margin:5px;
}

.purpleIconBtn {
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: var(--light-purple);
    border-radius: 8px;
    width:40px;
    height:40px;
}

.TaskPageProjectFolder {
    color: var(--dark-grey);
    font-size: 16px;
    margin-top:5px;

}

#addNewItemBtn {
    background-color: var(--bright-blue);
    width:200px;
    height:50px;
    color:white;
    border-radius: 8px;
    display:flex;
    align-items: center;
    justify-content: center;
    gap:5px;
    font-size: 22px;
    margin-top: 30px;
}

    /* items section */
#itemsContainer {
    width:900px;
    height:max-content;
    margin: 50px;
}

#addNewItemContainer {
    width:900px;
    height:max-content;
    background-color: var(--grey-bg-containers);
    margin: 50px;
    border: 1px solid var(--bright-blue);
    border-radius: 10px;
    padding:20px 80px 20px 30px;
}

.itemNameSection {
    display:flex;
    align-items: center;
    padding: 0px 0px 30px 0px;
}

.itemNameText {
    font-size: 22px;
    color:var(--btn-disabled-text);
}

.circle {
    width: 20px;
    height: 20px;
    background-color: var(--btn-disabled-light);
    border-radius: 50%;
    margin-right:20px;
}

.checkboxContainer {
    width:200px;
    display:flex;
    gap:8px;
    align-items: center;
    margin-left:auto;
    color:var(--dark-grey);
}

.itemDetailsContainers {
    display:flex;
    border-bottom:1px solid var(--border-line);
    width:80%;
    height:35px;
    padding:10px;
    align-items: center;
    margin:auto;
}

/* select#selectingPriority {
    background: url('./svg/folderSearch.svg') no-repeat;
    background-position: 20px 50%;
    background-color: var(--light-purple);
    width:250px;
    height:35px;
    color:var(--dark-purple);
    border-radius: 8px;
    padding-left:20px;
    text-align: center;
} */

#selectingPriority option {
    text-align: center;
}

/* Items display */

.item-tab {
    width:100%;
    display:flex;
    align-items: center;
    background-color: var(--items-display-bg);
    padding-left: 20px;
    padding-right: 20px;
}

.item-display-name {
    font-size: 20px;
    margin:15px;
}